* {
  border: none;
  border-radius: 0;
  font-family: "Fira Code", "Font Awesome 6 Free";
  font-size: 15px;
  min-height: 0;
}

window#waybar {
  background: #000000;
  border-bottom: 1px solid #414868;
  color: #eee;
  opacity: 0.80;
}

#workspaces button {
  margin: 0;
  padding: 0 2px;
  background: transparent;
  color: #eee;
  border-bottom: 1px solid transparent; 
}

#workspaces button.focused {
  background: #73bfb1;
  color: #1d2021;
  border-bottom: 1px solid #73bfb1;
}

#workspaces button.persistent {
  color: #414868;
}

#window,
#cpu,
#memory,
#disk,
#network,
#battery,
#clock,
#pulseaudio,
#mpd,
#custom-playerctl {
  padding: 0 5px;
  margin: 0 5px;
}

#battery.charging {
  color: #7be677;
}

#battery.warning:not(.charging) {
  color: #dab56b;
}

@keyframes blink {
  to {
    background-color: #1d2021;
    color: #eee;
  }
}

#battery.critical:not(.charging) {
  background: #d64e49;
  color: #eee;
  border-bottom: 1px solid #eee;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  color: #d64e49;
}

#pulseaudio.muted {
  color: #d64e49;
}
